@mixin heightAnimation($name, $height) {
  @keyframes #{$name} {
    0% {
      top: 50vh;
      height: 0px;
      padding: 0;
    }
   
    20% {
      top: 50vh;
      height: 1px;
      padding: 0;
    }
   
    40% {
      top: 50vh;
      height: 0px;
      padding: 0;
    }
  
    60% {
      top: 50vh;
      height: 1px;
      padding: 0;
    }
  
    80% {
      top: 50vh;
      height: 0px;
      padding: 0;
    }
   
    100% {
      height: $height;
    }
  }
}

@mixin colorChange($name, $from, $to) {
  @keyframes #{$name} {
    0% {
      background-color: $from;
    }
    50% {
      background-image: linear-gradient($from, $to);
    }
    100% {
      background-color: $to;
    }
  }
}