// Define variable defaults
$border-color: rgb(163, 183, 195);
$text-color: white;
$bg-body: #23272A;
$bg-dark: #23272A;
$bg-light: white;

$text-light: white;
$text-dark: #001529;


// Then import Bootstrap an BootstrapVue SCSS files (order is important)
